<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Overview" data-toc-modified-id="Overview-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Overview</a></span></li><li><span><a href="#Data-Preprocessing" data-toc-modified-id="Data-Preprocessing-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Data Preprocessing</a></span><ul class="toc-item"><li><span><a href="#Load-data" data-toc-modified-id="Load-data-2.1"><span class="toc-item-num">2.1&nbsp;&nbsp;</span>Load data</a></span></li><li><span><a href="#Handling-the-Identifiers" data-toc-modified-id="Handling-the-Identifiers-2.2"><span class="toc-item-num">2.2&nbsp;&nbsp;</span>Handling the Identifiers</a></span><ul class="toc-item"><li><span><a href="#Combining-the-training-and-testing-data" data-toc-modified-id="Combining-the-training-and-testing-data-2.2.1"><span class="toc-item-num">2.2.1&nbsp;&nbsp;</span>Combining the training and testing data</a></span></li><li><span><a href="#Identifying-the-identifiers" data-toc-modified-id="Identifying-the-identifiers-2.2.2"><span class="toc-item-num">2.2.2&nbsp;&nbsp;</span>Identifying the identifiers</a></span></li><li><span><a href="#Removing-the-Identifiers" data-toc-modified-id="Removing-the-Identifiers-2.2.3"><span class="toc-item-num">2.2.3&nbsp;&nbsp;</span>Removing the Identifiers</a></span></li></ul></li><li><span><a href="#Handling-Uncommon-Variables" data-toc-modified-id="Handling-Uncommon-Variables-2.3"><span class="toc-item-num">2.3&nbsp;&nbsp;</span>Handling Uncommon Variables</a></span><ul class="toc-item"><li><span><a href="#Identifying-uncommon-variables" data-toc-modified-id="Identifying-uncommon-variables-2.3.1"><span class="toc-item-num">2.3.1&nbsp;&nbsp;</span>Identifying uncommon variables</a></span></li><li><span><a href="#Removing-uncommon-variables" data-toc-modified-id="Removing-uncommon-variables-2.3.2"><span class="toc-item-num">2.3.2&nbsp;&nbsp;</span>Removing uncommon variables</a></span></li></ul></li><li><span><a href="#Handling-date-time-variables" data-toc-modified-id="Handling-date-time-variables-2.4"><span class="toc-item-num">2.4&nbsp;&nbsp;</span>Handling date time variables</a></span><ul class="toc-item"><li><span><a href="#Transforming-date-time-variables" data-toc-modified-id="Transforming-date-time-variables-2.4.1"><span class="toc-item-num">2.4.1&nbsp;&nbsp;</span>Transforming date time variables</a></span></li></ul></li><li><span><a href="#Handling-Missing-Data" data-toc-modified-id="Handling-Missing-Data-2.5"><span class="toc-item-num">2.5&nbsp;&nbsp;</span>Handling Missing Data</a></span><ul class="toc-item"><li><span><a href="#Combining-the-training-and-testing-data" data-toc-modified-id="Combining-the-training-and-testing-data-2.5.1"><span class="toc-item-num">2.5.1&nbsp;&nbsp;</span>Combining the training and testing data</a></span></li><li><span><a href="#Identifying-missing-values" data-toc-modified-id="Identifying-missing-values-2.5.2"><span class="toc-item-num">2.5.2&nbsp;&nbsp;</span>Identifying missing values</a></span></li><li><span><a href="#Removing-missing-values" data-toc-modified-id="Removing-missing-values-2.5.3"><span class="toc-item-num">2.5.3&nbsp;&nbsp;</span>Removing missing values</a></span></li></ul></li><li><span><a href="#Encoding-the-data" data-toc-modified-id="Encoding-the-data-2.6"><span class="toc-item-num">2.6&nbsp;&nbsp;</span>Encoding the data</a></span><ul class="toc-item"><li><span><a href="#Combining-the-training-and-testing-data" data-toc-modified-id="Combining-the-training-and-testing-data-2.6.1"><span class="toc-item-num">2.6.1&nbsp;&nbsp;</span>Combining the training and testing data</a></span></li><li><span><a href="#Identifying-the-Categorical-Variables" data-toc-modified-id="Identifying-the-Categorical-Variables-2.6.2"><span class="toc-item-num">2.6.2&nbsp;&nbsp;</span>Identifying the Categorical Variables</a></span></li><li><span><a href="#Encoding-the-features" data-toc-modified-id="Encoding-the-features-2.6.3"><span class="toc-item-num">2.6.3&nbsp;&nbsp;</span>Encoding the features</a></span></li><li><span><a href="#Separating-the-training-and-testing-data" data-toc-modified-id="Separating-the-training-and-testing-data-2.6.4"><span class="toc-item-num">2.6.4&nbsp;&nbsp;</span>Separating the training and testing data</a></span></li></ul></li><li><span><a href="#Scaling-the-data" data-toc-modified-id="Scaling-the-data-2.7"><span class="toc-item-num">2.7&nbsp;&nbsp;</span>Scaling the data</a></span></li></ul></li><li><span><a href="#Linear-Regression" data-toc-modified-id="Linear-Regression-3"><span class="toc-item-num">3&nbsp;&nbsp;</span>Linear Regression</a></span><ul class="toc-item"><li><span><a href="#Getting-the-feature-matrix-and-target-vector" data-toc-modified-id="Getting-the-feature-matrix-and-target-vector-3.1"><span class="toc-item-num">3.1&nbsp;&nbsp;</span>Getting the feature matrix and target vector</a></span></li><li><span><a href="#Training-the-model" data-toc-modified-id="Training-the-model-3.2"><span class="toc-item-num">3.2&nbsp;&nbsp;</span>Training the model</a></span></li><li><span><a href="#Evaluating-the-model" data-toc-modified-id="Evaluating-the-model-3.3"><span class="toc-item-num">3.3&nbsp;&nbsp;</span>Evaluating the model</a></span></li><li><span><a href="#Generating-the-Prediction" data-toc-modified-id="Generating-the-Prediction-3.4"><span class="toc-item-num">3.4&nbsp;&nbsp;</span>Generating the Prediction</a></span></li><li><span><a href="#Generating-the-Submission-File" data-toc-modified-id="Generating-the-Submission-File-3.5"><span class="toc-item-num">3.5&nbsp;&nbsp;</span>Generating the Submission File</a></span></li></ul></li><li><span><a href="#Discussion" data-toc-modified-id="Discussion-4"><span class="toc-item-num">4&nbsp;&nbsp;</span>Discussion</a></span></li></ul></div>

<b>

<p>
<center>
<font size="5">
Machine Learning I (DATS 6202), Spring 2020
</font>
</center>
</p>

<p>
<center>
<font size="4">
Homework 1
</font>
</center>
</p>

<p>
<center>
<font size="3">
Data Science, Columbian College of Arts & Sciences, George Washington University
</font>
</center>
</p>

<p>
<center>
<font size="3">
Author: Yuxiao Huang
</font>
</center>
</p>

</b>

# Overview
- Here we will work on kaggle competation [New York City Taxi Trip Duration](https://www.kaggle.com/c/nyc-taxi-trip-duration/data)
- The goal of this homework:
    - practice data preprocessing and linear regression discussed in [Case_Study_1](https://github.com/yuxiaohuang/teaching/blob/master/gwu/machine_learning_I/spring_2020/case_study/case_study_1/case_study_1.ipynb)
    - learn two new data preprocessing approaches to handle
        - uncommon variables
        - date time variables
- Complete the missing parts indicated by # Implement me
- Particularly, the code should
    - be bug-free (note that the output produced by your solution may not necessarily be the same as the provided output, due to version issues)
    - be commented
- **Marks will be deducted if the above requirements (for the code) are not met**
- Submit an ipynb file named homework_1.ipynb to [blackboard](https://blackboard.gwu.edu) folder /Assignments/Homework_1/

In [1]:
import warnings
warnings.filterwarnings('ignore')

# Data Preprocessing

## Load data

In [2]:
import pandas as pd

# Implement me
# Load the raw training data (train.csv)
df_raw_train = pd.read_csv('train.csv')
# Make a copy of df_raw_train
df_train = df_raw_train.copy(deep=True)

# Implement me
# Load the raw testing data (test.csv)
df_raw_test = pd.read_csv('test(1).csv')
# Make a copy of df_raw_test
df_test = df_raw_test.copy(deep=True)

# Implement me
# Specify the name of the target
target = 'trip_duration'

# Print the dimension of df_train and df_test
print(df_train.shape)
print(df_test.shape)

(1458644, 11)
(625134, 9)

In [3]:
# Print the first 10 rows of df_train
df_train.head(10)

,id,vendor_id,pickup_datetime,dropoff_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag,trip_duration
0,id2875421,2,2016-03-14 17:24:55,2016-03-14 17:32:30,1,-73.982155,40.767937,-73.964630,40.765602,N,455
1,id2377394,1,2016-06-12 00:43:35,2016-06-12 00:54:38,1,-73.980415,40.738564,-73.999481,40.731152,N,663
2,id3858529,2,2016-01-19 11:35:24,2016-01-19 12:10:48,1,-73.979027,40.763939,-74.005333,40.710087,N,2124
3,id3504673,2,2016-04-06 19:32:31,2016-04-06 19:39:40,1,-74.010040,40.719971,-74.012268,40.706718,N,429
4,id2181028,2,2016-03-26 13:30:55,2016-03-26 13:38:10,1,-73.973053,40.793209,-73.972923,40.782520,N,435
5,id0801584,2,2016-01-30 22:01:40,2016-01-30 22:09:03,6,-73.982857,40.742195,-73.992081,40.749184,N,443
6,id1813257,1,2016-06-17 22:34:59,2016-06-17 22:40:40,4,-73.969017,40.757839,-73.957405,40.765896,N,341
7,id1324603,2,2016-05-21 07:54:58,2016-05-21 08:20:49,1,-73.969276,40.797779,-73.922470,40.760559,N,1551
8,id1301050,1,2016-05-27 23:12:23,2016-05-27 23:16:38,1,-73.999481,40.738400,-73.985786,40.732815,N,255
9,id0012891,2,2016-03-10 21:45:01,2016-03-10 22:05:26,1,-73.981049,40.744339,-73.973000,40.789989,N,1225

In [4]:
# Print the first 10 rows of df_test
df_test.head(10)

,id,vendor_id,pickup_datetime,passenger_count,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,store_and_fwd_flag
0,id3004672,1,2016-06-30 23:59:58,1,-73.988129,40.732029,-73.990173,40.756680,N
1,id3505355,1,2016-06-30 23:59:53,1,-73.964203,40.679993,-73.959808,40.655403,N
2,id1217141,1,2016-06-30 23:59:47,1,-73.997437,40.737583,-73.986160,40.729523,N
3,id2150126,2,2016-06-30 23:59:41,1,-73.956070,40.771900,-73.986427,40.730469,N
4,id1598245,1,2016-06-30 23:59:33,1,-73.970215,40.761475,-73.961510,40.755890,N
5,id0668992,1,2016-06-30 23:59:30,1,-73.991302,40.749798,-73.980515,40.786549,N
6,id1765014,1,2016-06-30 23:59:15,1,-73.978310,40.741550,-73.952072,40.717003,N
7,id0898117,1,2016-06-30 23:59:09,2,-74.012711,40.701527,-73.986481,40.719509,N
8,id3905224,2,2016-06-30 23:58:55,2,-73.992332,40.730511,-73.875618,40.875214,N
9,id1543102,2,2016-06-30 23:58:46,1,-73.993179,40.748760,-73.979309,40.761311,N

## Handling the Identifiers
Reference: the code in this section is largely based on [Case_Study_1](https://github.com/yuxiaohuang/teaching/blob/master/gwu/machine_learning_I/spring_2020/case_study/case_study_1/case_study_1.ipynb).

### Combining the training and testing data
The code below shows how to combine the training and testing data (using pandas concat).

In [5]:
# Combine df_train and df_test
df = pd.concat([df_train, df_test], sort=False)

### Identifying the identifiers

The code below shows how to find identifiers from the data.

In [6]:
def id_checker(df):
    """
    The identifier checker

    Parameters
    ----------
    df : dataframe
    
    Returns
    ----------
    The dataframe of identifiers
    """
    
    # Get the identifiers
    df_id = df[[var for var in df.columns 
                if df[var].nunique(dropna=True) == df[var].notnull().sum()]]
                
    return df_id

In [ ]:
# Call id_checker on df
df_id = id_checker(df)

# Print the first 5 rows of df_id
df_id.head()

### Removing the Identifiers
The code below shows how to remove the identifiers from data (using pandas DataFrame.drop).

In [ ]:
# Implement me
# Remove the identifiers from df_train
df_train = df_train.drop(columns = df_id.columns)

# Implement me
# Remove the identifiers from df_test
df_test = df_test.drop(columns = df_id.columns)

# Print the dimension of df_train and df_test
print(df_train.shape)
print(df_test.shape)

In [ ]:
# Print the first 10 rows of df_train
df_train.head(10)

In [ ]:
# Print the first 10 rows of df_test
df_test.head(10)

## Handling Uncommon Variables

### Identifying uncommon variables

The code below shows how to find common variables between the training and testing data.

In [ ]:
import numpy as np

def common_var_checker(df_train, df_test, target):
    """
    The common variables checker

    Parameters
    ----------
    df_train : dataframe of training data
    df_test : dataframe of testing data
    target : the name of the target

    Returns
    ----------
    The dataframe of common variables between the training and testing data
    """
    
    # Get the dataframe of common variables between the training and testing data
    df_common_var = pd.DataFrame(np.intersect1d(df_train.columns, np.union1d(df_test.columns, [target])),
                                 columns=['common var'])
                
    return df_common_var

In [ ]:
# Call common_var_checker
df_common_var = common_var_checker(df_train, df_test, target)

# Print df_common_var
df_common_var

The code below shows how to find the variables in the training data but not in the testing data.

In [ ]:
# Get the variables in the training data but not in the testing data
uncommon_var_train_not_test = np.setdiff1d(df_train.columns, df_common_var['common var'])

# Print the uncommon variables
pd.DataFrame(uncommon_var_train_not_test, columns=['uncommon var'])

The code below shows how to find the variables in the testing data but not in the training data.

In [ ]:
# Get the variables in the testing data but not in the training data
uncommon_var_test_not_train = np.setdiff1d(df_test.columns, df_common_var['common var'])

# Print the uncommon variables
pd.DataFrame(uncommon_var_test_not_train, columns=['uncommon var'])

### Removing uncommon variables

In [ ]:
# Remove the uncommon variables from the training data
df_train = df_train.drop(columns=uncommon_var_train_not_test)

# Print the first 10 rows of df_train
df_train.head(10)

In [ ]:
# Remove the uncommon variables from the testing data
df_test = df_test.drop(columns=uncommon_var_test_not_train)

# Print the first 10 rows of df_test
df_test.head(10)

## Handling date time variables

### Transforming date time variables
The code below shows how to transform date time variables into the following 6 datetime types: year, month, day, hour, minute and second.

In [ ]:
def datetime_transformer(df, datetime_vars):
    """
    The datetime transformer

    Parameters
    ----------
    df : dataframe
    datetime_vars : the datetime variables
    
    Returns
    ----------
    The dataframe where datetime_vars are transformed into the following 6 datetime types:
    year, month, day, hour, minute and second
    """
    
    # The dictionary with key as datetime type and value as datetime type operator
    dict_ = {'year'   : lambda x : x.dt.year,
             'month'  : lambda x : x.dt.month,
             'day'    : lambda x : x.dt.day,
             'hour'   : lambda x : x.dt.hour,
             'minute' : lambda x : x.dt.minute,
             'second' : lambda x : x.dt.second}
    
    # Make a copy of df
    df_datetime = df.copy(deep=True)
    
    # For each variable in datetime_vars
    for var in datetime_vars:
        # Cast the variable to datetime
        df_datetime[var] = pd.to_datetime(df_datetime[var])
        
        # For each item (datetime_type and datetime_type_operator) in dict_
        for datetime_type, datetime_type_operator in dict_.items():
            # Add a new variable to df_datetime where:
            # the variable's name is var + '_' + datetime_type
            # the variable's values are the ones obtained by datetime_type_operator
            df_datetime[var + '_' + datetime_type] = datetime_type_operator(df_datetime[var])
            
    # Remove datetime_vars from df_datetime
    df_datetime = df_datetime.drop(columns=datetime_vars)
                
    return df_datetime

In [ ]:
# Call datetime_transformer on df_train
df_train = datetime_transformer(df_train, ['pickup_datetime'])

# Print the first 10 rows of df_train
df_train.head(10)

In [ ]:
# Call datetime_transformer on df_test
df_test = datetime_transformer(df_test, ['pickup_datetime'])

# Print the first 10 rows of df_test
df_test.head(10)

## Handling Missing Data
Reference: the code in this section is largely based on [Case_Study_1](https://github.com/yuxiaohuang/teaching/blob/master/gwu/machine_learning_I/spring_2020/case_study/case_study_1/case_study_1.ipynb).

### Combining the training and testing data
The code below shows how to combine the training and testing data (using pandas concat).

In [ ]:
# Combine df_train and df_test
df = pd.concat([df_train, df_test], sort=False)

### Identifying missing values

The code below shows how to find variables with NaN (using pandas DataFrame.isna), their proportion of NaN and dtype (data type objects, using pandas Series.dtype).

In [ ]:
def nan_checker(df):
    """
    The NaN checker

    Parameters
    ----------
    df : dataframe
    
    Returns
    ----------
    The dataframe of variables with NaN, their proportion of NaN and dtype
    """
    
    # Get the variables with NaN, their proportion of NaN and dtype
    df_nan = pd.DataFrame([[var, df[var].isna().sum() / df.shape[0], df[var].dtype]
                           for var in df.columns if df[var].isna().sum() > 0],
                          columns=['var', 'proportion', 'dtype'])
    
    # Sort df_nan in accending order of the proportion of NaN
    df_nan = df_nan.sort_values(by='proportion', ascending=False)
    
    return df_nan

In [ ]:
# Call nan_checker on df
df_nan = nan_checker(df)

# Print df_nan
df_nan.reset_index(drop=True)

In [ ]:
# Print the unique dtype of the variables with NaN
pd.DataFrame(df_nan['dtype'].unique(), columns=['dtype'])

The code below shows how to use dtype to select variables with missing values in the combined training and testing data.

In [ ]:
# Get the variables with missing values, their proportion of missing values and dtype
df_miss = df_nan[df_nan['dtype'] == 'float64']

# Print df_miss
df_miss.reset_index(drop=True)

### Removing missing values
The code below shows how to remove rows with missing values (here we use numpy intersect1d to find the intersection of two series).

In [ ]:
import numpy as np

# Remove rows with missing values from df_train
df_train = df_train.dropna(subset=np.intersect1d(df_miss['var'], 
                                                 df_train.columns),
                           inplace=False)

# Remove rows with missing values from df_test
df_test = df_test.dropna(subset=np.intersect1d(df_miss['var'], 
                                               df_test.columns),
                         inplace=False)

# Print the dimension of the training and testing data
print(df_train.shape)
print(df_test.shape)

## Encoding the data
Reference: the code in this section is largely based on [Case_Study_1](https://github.com/yuxiaohuang/teaching/blob/master/gwu/machine_learning_I/spring_2020/case_study/case_study_1/case_study_1.ipynb).

### Combining the training and testing data
The code below shows how to combine the training and testing data (using pandas concat).

In [ ]:
# Combine df_train and df_test
df = pd.concat([df_train, df_test], sort=False)

# Print the unique dtype of variables in df
pd.DataFrame(df.dtypes.unique(), columns=['dtype'])

### Identifying the Categorical Variables

The code below shows how to find the categorical variables that have object as dtype (using pandas.Series.dtype).

In [ ]:
def cat_var_checker(df):
    """
    The categorical variable checker

    Parameters
    ----------
    df: the dataframe
    
    Returns
    ----------
    The dataframe of categorical variables and their number of unique value
    """
    
    # Get the dataframe of categorical variables and their number of unique value
    df_cat = pd.DataFrame([[var, df[var].nunique(dropna=False)]
                           for var in df.columns if df[var].dtype == 'object'],
                          columns=['var', 'nunique'])
    
    # Sort df_cat in accending order of the number of unique value
    df_cat = df_cat.sort_values(by='nunique', ascending=False)
    
    return df_cat

In [ ]:
# Call cat_var_checker on df
df_cat = cat_var_checker(df)

# Print the dataframe
df_cat.reset_index(drop=True)

### Encoding the features
The code below shows how to encode the categorical features in the combined training and testing data (using pandas.get\_dummies).

In [ ]:
# Implement me
# One-hot-encode the categorical features in the combined training and testing data
df = pd.get_dummies(df, columns = df_cat['var'])

# Print the first 10 rows (samples) of df
df.head(10)

### Separating the training and testing data
The code below shows how to separate the training and testing data.

In [ ]:
# Separating the training data
df_train = df.iloc[:df_train.shape[0], :]

# Separating the testing data
df_test = df.iloc[df_train.shape[0]:, :]

# Print the dimension of the training and testing data
print(df_train.shape)
print(df_test.shape)

## Scaling the data

The code below shows how to standardize the data (using sklearn StandardScaler).

In [ ]:
from sklearn.preprocessing import StandardScaler

# The StandardScaler
ss = StandardScaler()

# Implement me
# Standardize the training data
df_train = pd.DataFrame(ss.fit_transform(df_train), columns=df_train.columns)

# Implement me
# Standardize the testing data
df_test = pd.DataFrame(ss.transform(df_test), columns=df_test.columns)

# Linear Regression

## Getting the feature matrix and target vector

In [ ]:
# Get the feature matrix
X_train = df_train[np.setdiff1d(df_train.columns, [target])]
X_test = df_test[np.setdiff1d(df_test.columns, [target])]

# Get the target vector
y_train = df_train[[target]]

## Training the model

In [ ]:
from sklearn.linear_model import LinearRegression

# The LinearRegression
lr = LinearRegression()

# Implement me
# Train the linear regression model on the training data using X_train and y_train
lr.fit(X_train, y_train)

## Evaluating the model

In [ ]:
from sklearn.metrics import mean_squared_error

# Implement me
# Get the prediction on the training data using lr
y_train_pred = lr.predict(X_train)

# Get the MSE
mean_squared_error(y_train, y_train_pred)

## Generating the Prediction

In [ ]:
# Implement me
# Get the prediction on the testing data using lr
y_test_pred = lr.predict(X_test)

## Generating the Submission File

In [ ]:
# Get the dataframe of y_test_pred, which has the same shape as df_train
df_y_test_pred = pd.DataFrame(np.tile(y_test_pred, df_train.shape[1]),
                              columns=df_train.columns)

# Transform df_y_test_pred back to the original scale
df_y_test_pred = pd.DataFrame(ss.inverse_transform(df_y_test_pred),
                              columns=df_train.columns)

# Get the submission dataframe
df_submit = pd.DataFrame(np.hstack((df_raw_test[['id']], df_y_test_pred[[target]])),
                         columns=['id', target])

# Generate the submission file
df_submit.to_csv('submission.csv', index=False)

# Discussion
Do not feel obligated to submit the submission file to kaggle. It will not give you a high ranking on the leaderboard, which is fine at this moment since it is not the goal for this assignment (as suggested in Overview). We will come back to this assignment later this semester with some feature engineering approaches and more powerful models. Stay tuned.